* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background: #01070a;
  padding: 0px;
  margin: 0px;
}
.body {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 600px;
  background: #ecf0f2;
  margin: auto; 
  margin-top: 40px;
}
.dots{
    width:3rem;
    height:24px;;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left: 5px;
  }
  .dot{
    width:12px;
    height:12px;
    border-radius:50%;
  }
  
  .red{
    background:#FF544E;
  }
  .orange{
    background:#FFBD2E;
  }
  .green{
    background:#29CC41;
  }
  .cal {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 30rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 5px;
    top: 100px;
  }
  .frame {
    display: grid;
    grid-template-rows: 3fr 7fr;
    width: 19rem;
    height: 29rem;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 50px rgb(206, 205, 205);

  }
  .display {
    display: grid;
    grid-template-rows:1.5em 3fr 2fr;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .operation {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    font-size: 1rem;
    align-items: center;
    color: slategrey;
    font-weight: 800;
  }
  .result {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    font-size: 2.5em;
    align-items: center;
    font-weight: 500px;
  }
  .keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

  }
  .key {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(104, 103, 103);
  }
  .keyboard > span {
    margin: auto;
  }
  .key:active {
    background: slategrey;
    color: white;
  }
  .operator {
    color: #63b3e9;
  }
  span.zero {
    grid-column: 2/3; 
  }
